h1{font-famiy: hebrew; color:red}
p{color:blue}
h1{font-size:500%}
h2{font-size:200%}
body{background-color:yellow}
h1{background-color:blue;text align:right}
a{background-color:white}
h1{font-family Georgia}
h1{font-weight:bold}
h2{font-style:italic}
p{font-style:italic; font size 150%; color:blue}
p{text-decoration:underline}
h2{line-height:1.4em}
p{text-align:left}
div{height:100px;width:100px;background color: black}


